<div class="loginForm">
  <h2>Select your account type </h2>
  <ul>
    <li>
      <h4><%= link_to "Normal User", users_login_path %></h4>
    </li>
    <br/>
    <li>
      <h4><%= link_to "Host", hosts_login_path %></h4>
    </li>
  </ul>
</div>